*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.common{
    display: flex;
    justify-content: space-between;
    
}

#result{
    display: none;
}